@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shear Style */
.heading-title{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
}
body{
    font-family: "Open Sans", sans-serif
}
.container{
    max-width: 60%;
    margin: 0 auto;
}
.btn{
    background: rgb(253, 110, 10);
    display: inline-block;
    padding: 12px 30px;
    color: white!important;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}
/* Header Section */
header{
    background-color: #FFF8F3;
    position: relative;
    z-index: -1;
}
header::after {
	content: '';
	background: url(../images/developer.png) no-repeat left center;
	position: absolute;
	top: 55px;
	width: 6%;
	height: 87%;
	margin: auto 0;
	left: 48px;
}
section.banner-section {
	background: url(../images/header_bg.png) no-repeat bottom right;
	margin-top: 100px;
}
.banner-content-box{
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 5%;
    align-items: center;
}
.banner-content {
	width: 50%;
}
.banner-img {
	width: 50%;
	text-align: right;
}
.banner-img img{
    margin-bottom: -2px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 85px;
    font-weight: 700;
}
.banner-content p {
	font-size: 18px;
	font-weight: 500;
	color: #757575;
	margin: 26px 0;
	line-height: 29px;
}
.banner-content > .btn {
	font-size: 20px;
	font-weight: 700;
}
.mr{
    margin: 0 0 0 20px;
}
/* nav section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-container .logo a{
    font-size: 45px;
    font-weight: 800;
    color: black;
}
.nav-container .logo a span{
    color: rgb(253, 110, 10);
}
.nav-container nav ul {
	display: flex;
	gap: 74px;
}
.nav-container nav ul li{
    list-style: none;
}
.nav-container nav ul li a{
    color: black;
    font-size: 20px;
}
/* About Section */
.about-section{
    background: #FFF8F3;
    padding: 130px 150px;
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}
.about-section > p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 35px 0;
    line-height: 30px;
}
.about-items{
    justify-content: space-around;
    color: #757575;
    font-size: 20px;
}
.about-item .about-content{
    font-weight: 700;
    margin-top: 6px;
}
/* Skills Section */
.skills-section{
    margin-bottom: 80px;
}
.skills-section > p {
	margin: 40px auto 40px auto;
	text-align: center;
	width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}
.skills-container{
    gap: 25px;
}
.skills-box{
    padding: 40px 30px;
    box-shadow: 0 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.skills-box h4{
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.skills-box p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
/* Resume SEctions */
.resume-container-boxs {
	justify-content: space-between;
	margin-top: 80px;
	gap: 35px;
}
.resume-container-box {
	margin-bottom: 30px;
}
.resume-box {
	padding: 20px 20px 20px 0;
	border-bottom: 1px solid #d1d1d1;
}
.resume-box h2{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.resume-box h3{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.resume-box h5{
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: 600;
}
.resume-box p{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
    padding-right: 20px;
    line-height: 28px;
}
.bor-bottom{
    border-bottom: none;
}